/* ________________________________________________________________________________ */

/* ESTILOS DE COMPONENTES GENERALES */

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #f1eeee;
    text-decoration: blink;
    padding: 2.5px;
}

nav ul li a:hover {
    background-color: #a31212;
    transition: color #555 1.5s;
    text-decoration: blink;
} 

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} 

/* ICONOSO DE REDES SOCIALES */
.fa {
    padding: 10px;
    font-size: 20px;
    width: 15px;
    text-decoration: none;
    margin: 5px 40px;
}
.fa:hover {
    opacity: 0.9;
}

.fa-linkedin {
background: #007bb5;
    color: white;
}

/* VALIDACION DE LOS INPUT */
input:invalid:required
{
background-color: rgb(241, 215, 215);
}
textarea
{
background-color: rgb(241, 215, 215);
}

/* saca el resize del textarea y lo deja fijo */
#mensaje 
{
resize: none;
}

.Datos_contacto
{
text-align: center;
}

/* CAMBIAR EL COLOR DEL MARCO DE LOS INPUT CUANDO SE LO PINCHA */
input:focus
{
color:#212529;
background-color:#fff;
border-color:#86b7fe;
outline:0;
box-shadow:0 0 0 .25rem rgba(13,110,253,.25);
transition: 0.2s;
}

/* CAMBIAR EL COLOR DEL MARCO DEL TEXTAREA CUANDO SE LO PINCHA */
textarea:focus
{
color:#212529;
background-color:#fff;
border-color:#86b7fe;
outline:0;
box-shadow:0 0 0 .25rem rgba(13,110,253,.25);
transition: 0.2s;
}
/* ____________________________________________________________________________ */

/* Grid para el contenedor principal */
.contenedor_gral {
display: grid;
gap: 5px;
/* background-color: lightgray; */
padding: 5px;
grid-template-rows: 1 2fr 2fr; 
grid-template-areas:
'header header header header'
'main main mapa iframe'
'footer footer footer footer';
}

.header {
grid-area: header;
height: 5rem;
background-color: #333;
color: #fff;
padding: 20px;
}

.main {
grid-area: main;
/* background-color: aqua; */
}

.panel_derecho {
grid-area: mapa;
/* background-color: blue; */
align-items: center;
}

.iframe_mapa
{
grid-area: iframe;
/* background-color: white; */
}

.footer {
grid-area: footer;
height: 3rem;
background-color: #333;
color: #fff;
padding: 10px;
text-align: center; 
}
/* _____________________________________________________________________

DEFINICION DEL GRID DE OFERTAS*/

.contenedorOfertas
{
    display: grid;
    gap:5px;
    padding: 5px;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'header header header'
    'gridOferta1 gridOferta2 gridOferta3'
    'gridOferta4 gridOferta5 gridOferta6'
    'footer footer footer'
    ;
}

.gridOferta1 {
grid-area: gridOferta1;
background-color: #b6b6b6;

}

.gridOferta2 {
grid-area: gridOferta2;
background-color: #b6b6b6;
}
.gridOferta3 {
grid-area: gridOferta3;
background-color: #b6b6b6;
}
.gridOferta4 {
grid-area: gridOferta4;
background-color: #b6b6b6;
}
.gridOferta5 {
grid-area: gridOferta5;
background-color: #b6b6b6;
}
.gridOferta6 {
grid-area: gridOferta6;
background-color: #b6b6b6;
}
.footer {
grid-area: footer;
background-color: black;
height: 5rem;  
}
/* ----------------------------------------------------------------------- */
/* 3 tamanos de responsive segun indicado en clase (Unidad 9 CSS) */

@media (max-width: 850px) 
{
    /* PAGINA DE CONTACTOS */
.contenedor_gral {
grid-template-rows: 1fr 1 2fr;
grid-template-areas:
'header header header'
'main  main  mapa'
'main  main  mapa'
'iframe iframe iframe'
'footer footer footer'
;
}
/* PAGINA DE OFERTAS */
.contenedorOfertas {
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    'header header'
    'gridOferta1 gridOferta2'
    'gridOferta3 gridOferta4'
    'gridOferta5 gridOferta6'
    'footer footer'
    ;
}

}

@media (max-width: 650px) {

/* PAGINA DE CONTACTOS */
    .contenedor_gral {
grid-template-rows: 1fr 1 2fr 1fr;
grid-template-areas:
'header header header header'
'main  main  main  main'
'mapa  mapa  mapa  mapa'
'iframe iframe iframe iframe'
'footer footer footer footer'
;
}

/* PAGINA DE OFERTAS */

.contenedorOfertas {
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    'header header'
    'gridOferta1 gridOferta2'
    'gridOferta3 gridOferta4'
    'gridOferta5 gridOferta6'
    'footer footer''
    ;
}
}

@media (max-width: 400px) {
/* PAGINA DE CONTACTOS */
.contenedor_gral {
grid-template-rows: 1fr  1 2fr 1fr;
grid-template-areas:
'header header header header'
'main  main  main  main'
'mapa  mapa  mapa  mapa'
'iframe iframe iframe iframe'
'footer footer footer footer'
;
}
/* PAGINA DE OFERTAS */

.contenedorOfertas {
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    'header'
    'gridOferta1'
    'gridOferta2'
    'gridOferta3'
    'gridOferta4'
    'gridOferta5'
    'gridOferta6'
    'footer'
    ;
    }
}