/* Grid para el contenedor principal de CONTACT US*/
.contenedor_gral {
    display: grid;
    gap: 5px;
    padding: 5px;
    grid-template-rows: 2fr 2fr; 
    grid-template-areas:
    'main main mapa iframe'
    'footer footer footer footer';
    background-color: #dedede;
    }
    
    .header {
    grid-area: header;
    height: 5rem;
    background-color: #333;
    color: #fff;
    padding: 20px;
    }
    
    .main {
    grid-area: main;
    }
    
    .panel_derecho {
    grid-area: mapa;
     align-items: center;
    }
    
    .iframe_mapa
    {
    grid-area: iframe;
    /* background-color: white; */
    }
    
    .footer {
    grid-area: footer;
    height: 3rem;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center; 
    }
    /* _____________________________________________________________________
    
    DEFINICION DEL GRID DE OFERTAS*/
    
    .contenedorOfertas
    {
        display: grid;
        gap:2px;
        padding: 5px;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        'header header header'
        'gridOferta1 gridOferta2 gridOferta3'
        'gridOferta4 gridOferta5 gridOferta6'
        'footer footer footer'
        ;
    }
    
    .gridOferta1 {
    grid-area: gridOferta1;
    background-color: #dedede;
    
    }
    
    .gridOferta2 {
    grid-area: gridOferta2;
    background-color: #dedede;
    }
    .gridOferta3 {
    grid-area: gridOferta3;
    background-color: #dedede;
    }
    .gridOferta4 {
    grid-area: gridOferta4;
    background-color: #dedede;
    }
    .gridOferta5 {
    grid-area: gridOferta5;
    background-color: #dedede;
    }
    .gridOferta6 {
    grid-area: gridOferta6;
    background-color: #dedede;
    }
    .footer {
    grid-area: footer;
    background-color: black;
    height: 5rem;  
    }
    /* ----------------------------------------------------------------------- */
    /* 3 tamanos de responsive segun indicado en clase (Unidad 9 CSS) */
    
    @media (max-width: 850px) 
    {
        /* PAGINA DE CONTACTOS */
    .contenedor_gral {
    grid-template-rows: 1fr 1 2fr;
    grid-template-areas:
    'main  main  mapa'
    'main  main  mapa'
    'iframe iframe iframe'
    'footer footer footer'
    ;
    }
    /* PAGINA DE OFERTAS */
    .contenedorOfertas {
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
        'header header'
        'gridOferta1 gridOferta2'
        'gridOferta3 gridOferta4'
        'gridOferta5 gridOferta6'
        'footer footer'
        ;
    }
    
    }
    
    @media (max-width: 650px) {
    
    /* PAGINA DE CONTACTOS */
        .contenedor_gral {
    grid-template-rows: 1fr 1 2fr 1fr;
    grid-template-areas:
    'main  main  main  main'
    'mapa  mapa  mapa  mapa'
    'iframe iframe iframe iframe'
    'footer footer footer footer'
    ;
    }
    
    /* PAGINA DE OFERTAS */
    
    .contenedorOfertas {
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
        'header header'
        'gridOferta1 gridOferta2'
        'gridOferta3 gridOferta4'
        'gridOferta5 gridOferta6'
        'footer footer''
        ;
    }
    }
    
    @media (max-width: 400px) {
    /* PAGINA DE CONTACTOS */
    .contenedor_gral {
    grid-template-rows: 1fr  1 2fr 1fr;
    grid-template-areas:
    'header header header header'
    'main  main  main  main'
    'mapa  mapa  mapa  mapa'
    'iframe iframe iframe iframe'
    'footer footer footer footer'
    ;
    
    }
    /* PAGINA DE OFERTAS */
    
    .contenedorOfertas {
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
        'header'
        'gridOferta1'
        'gridOferta2'
        'gridOferta3'
        'gridOferta4'
        'gridOferta5'
        'gridOferta6'
        'footer'
        ;
        }
    }