/* Grid para el contenedor principal de CONTACT US*/
.contenedor_gral {
    display: grid;
    gap: 5px;
    padding: 5px;
    grid-template-rows: auto auto; 
    grid-template-areas:
    'main main mapa iframe'
    'footer footer footer footer';
    background-color: #dedede;
    }
    
    .header {
    grid-area: header;
    height: 5rem;
    background-color: #333;
    color: #fff;
    padding: 20px;
    }
    
    .main {
    grid-area: main;
    }
    
    .panel_derecho {
    grid-area: mapa;
     align-items: center;
    }
    
    .iframe_mapa
    {
    grid-area: iframe;
    /* background-color: white; */
    }
    
    .footer {
    grid-area: footer;
    height: 3rem;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center; 
    }
    /* _____________________________________________________________________
    
    DEFINICION DEL GRID DE PRODUCTOS*/
    
    .contenedorOfertas {
        display: grid;
        gap:2px;
        padding: 5px;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        /* 'header header header' */
        'gridOferta1 gridOferta2 gridOferta3'
        'gridOferta4 gridOferta5 gridOferta6'
        'footer footer footer'
        ;
    }
    
    .gridOferta1 {
    grid-area: gridOferta1;
    background-color: #dedede;
    
    }
    
    .gridOferta2 {
    grid-area: gridOferta2;
    background-color: #dedede;
    }
    .gridOferta3 {
    grid-area: gridOferta3;
    background-color: #dedede;
    }
    .gridOferta4 {
    grid-area: gridOferta4;
    background-color: #dedede;
    }
    .gridOferta5 {
    grid-area: gridOferta5;
    background-color: #dedede;
    }
    .gridOferta6 {
    grid-area: gridOferta6;
    background-color: #dedede;
    }
    .footer {
    grid-area: footer;
    background-color: #333;
    height: 5rem;  
    }

    /* _____________________________________________________________________
    
    DEFINICION DEL GRID DE DESCRIPCION DE EQUIPO*/
    
    .contenedorEquipos {
        display: grid;
        gap:2px;
        padding: 5px;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        'gridDescripcion_equipo1 gridCarcasa1 gridCcomponentes1 gridPantalla1'
        'gridDescripcion_equipo2 gridCarcasa2 gridCcomponentes2 gridPantalla2'
        'footer footer footer footer'
        ;
    }
    
    .gridDescripcion_equipo1 {
    grid-area: gridDescripcion_equipo1;
    background-color: #953030;
    }
    .gridCarcasa1 {
    grid-area: gridCarcasa1;
    background-color: #20ad43;
    }
    .gridCcomponentes1 {
    grid-area: gridCcomponentes1;
    background-color: #dc9999;
    }
    .gridPantalla1 {
    grid-area: gridPantalla1;
    background-color: #362771;
    }
    .gridDescripcion_equipo2 {
        grid-area: gridDescripcion_equipo2;
        background-color: #953030;
        display: none;
     }
    .gridCarcasa2 {
        grid-area: gridCarcasa2;
        background-color: #20ad43;
        display: none;
     }
    .gridCcomponentes2 {
        grid-area: gridCcomponentes2;
        background-color: #dc9999;
        display: none;
     }
    .gridPantalla2 {
        grid-area: gridPantalla2;
        background-color: #362771;
        display: none;
     }
    
    .footer {
    grid-area: footer;
    background-color: #333;
    height: 5rem;  
    }

/* DEFINICION DEL GRID DEL INDEX */

.contenedor_gral_index {
        display: grid;
        gap: 1px;
        padding: 2px;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        'carousel carousel'
        'texto_explicacion texto_explicacion'
        'proceso_refurbished proceso_refurbished'
        'banner_refurbished1 compromiso_rererere'
        ;
    }
    
    .carousel {
    grid-area: carousel;
    }
    .texto_explicacion {
    grid-area: texto_explicacion;
    }
    .proceso_refurbished {
    grid-area: proceso_refurbished;
    }
    .banner_refurbished1 {
    grid-area: banner_refurbished1;
    background-color: #362771;
 
    }
    .compromiso_rererere {
        grid-area: compromiso_rererere;
    }

    /* ----------------------------------------------------------------------- */
    /* 3 tamanos de responsive segun indicado en clase (Unidad 9 CSS) */
    
    @media (max-width: 850px) {

        /* PAGINA DE INDEX */
    .contenedor_gral_index {
        display: grid;
        gap: 1px;
        padding: 2px;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
        'carousel carousel'
        'texto_explicacion texto_explicacion'
        'proceso_refurbished proceso_refurbished'
        'banner_refurbished1 banner_refurbished1'
        'compromiso_rererere compromiso_rererere'
        ;
    }
    img{
        width: 100%;
        height: auto;
    }

        /* PAGINA DE CONTACTOS */
    .contenedor_gral {
    grid-template-rows: auto auto auto;
    grid-template-areas:
    'main  main  mapa'
    'main  main  mapa'
    'iframe iframe iframe'
    'footer footer footer'
    ;
    }
    /* PAGINA DE OFERTAS */
    .contenedorOfertas {
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        /* 'header header' */
        'gridOferta1 gridOferta2'
        'gridOferta3 gridOferta4'
        'gridOferta5 gridOferta6'
        'footer footer'
        ;
    }
    

    /* DEFINICION DEL GRID DE DESCRIPCION DE EQUIPO */
    
    .contenedorEquipos {
        display: grid;
        gap:2px;
        padding: 5px;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        'gridDescripcion_equipo1 gridCarcasa1'
        'gridCcomponentes1 gridPantalla1'
        'footer footer'
        ;
    }
    }
    
    @media (max-width: 650px) {
    
      /* PAGINA DE INDEX */
      .contenedor_gral_index
      {
        display: grid;
        gap: 1px;
        padding: 2px;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        'carousel carousel'
        'texto_explicacion'
        'banner_refurbished1 '
        'compromiso_rererere '
        ;
      }

      .carousel{
        display: none;
      }
      img{
        width: 100%;
        height: auto;
    }

    /* PAGINA DE CONTACTOS */
    .contenedor_gral {
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    'main  main  main  main'
    'mapa  mapa  mapa  mapa'
    'iframe iframe iframe iframe'
    'footer footer footer footer'
    ;
    }
    
    /* PAGINA DE PRODUCTOS */
    
    .contenedorOfertas {
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        /* 'header header' */
        'gridOferta1 gridOferta2'
        'gridOferta3 gridOferta4'
        'gridOferta5 gridOferta6'
        'footer footer'
        ;
    }

     /* DEFINICION DEL GRID DE DESCRIPCION DE EQUIPO */
    
     .contenedorEquipos {
         display: grid;
         gap:2px;
         padding: 5px;
         grid-template-rows: auto auto auto auto;
         grid-template-areas: 
         'gridDescripcion_equipo1'
         'gridCarcasa1'
         'gridCcomponentes1'
         'gridPantalla1'
         'footer'
         ;
     }
     }
    
    
    @media (max-width: 400px) {
    
          /* PAGINA DE INDEX */
          .contenedor_gral_index {
            display: grid;
            gap: 1px;
            padding: 2px;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
            'carousel carousel'
            'texto_explicacion'
            'banner_refurbished1 '
            'compromiso_rererere '
            ;
          }

          .carousel {
            display: none;
          }

          .compromiso_rererere {
            display: none;
          }
          .proceso_refurbished{
            display: none;
          }
          img{
            width: 100%;
            height: auto;
        }
   
        /* PAGINA DE CONTACTOS */
    .contenedor_gral {
    grid-template-rows: 1fr  1 2fr 1fr;
    grid-template-areas:
    'header header header header'
    'main  main  main  main'
    'mapa  mapa  mapa  mapa'
    'iframe iframe iframe iframe'
    'footer footer footer footer'
    ;
    
    }
    /* PAGINA DE productos */
    
    .contenedorOfertas {
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
        /* 'header' */
        'gridOferta1'
        'gridOferta2'
        'gridOferta3'
        'gridOferta4'
        'gridOferta5'
        'gridOferta6'
        'footer'
        ;
        }
    }

    @media (max-width: 300px) {
    
        /* PAGINA DE INDEX */
        .contenedor_gral_index {
          display: grid;
          gap: 1px;
          padding: 2px;
          grid-template-rows: auto auto auto auto;
          grid-template-areas:
          'carousel carousel'
          'texto_explicacion'
          'banner_refurbished1 '
          'compromiso_rererere '
          ;
        }

        .carousel {
          display: none;
        }

        .compromiso_rererere {
          display: none;
        }
        .proceso_refurbished{
          display: none;
        }
        img{
            width: 100%;
            height: auto;
        }

    }