        .main-grid-item {
            padding: 20px;
            border: 2px solid #ccc;
            background-color: #dedede;
          }

          .p1{
            font-size: 10px;
          }
          section {
        padding: 20px;
        }
        
        section h2 {
            color: #333;
        }
        
        section p {
            color: #b6b6b6;
        }