.main-grid-item {
  padding: 20px;
   border: 2px solid #ccc;
   background-color: #dedede;
}

.carousel-indicators button{
  
  border-radius: 1px !important;
  border-color: #b6b6b6 !important;
}

h5{
  font-weight: bold;
}

table{
  text-align: center;
}



