table {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-x:auto;
    overflow-y: auto;
    text-align: center;
    width: 100%;
}

/* ANIMA LA CARGA DE LAS IMAGENES DE LAS COMPUTADORAS */

/* img 
{
    animation-name: entradaImagen;
    animation-duration: 2s;
    transition-delay: 1s;
}
@keyframes entradaImagen
{
    from { width:10px; height: 10px; }
    to {width:300px; height: 300px;}
} */