/* saca el resize del textarea y lo deja fijo */
#mensaje 
{
    resize: none;
}


/* Grid para el contenedor principal */
.contenedor_gral {
    display: grid;
    gap: 5px;
    background-color: lightgray;
    padding: 5px;
    grid-template-rows: 1 2fr 2fr; 
    grid-template-areas:
    'header header header header'
    'main main mapa iframe'
    'footer footer footer footer'
    ;
}

.header {
    grid-area: header;
    background-color: lightgreen;
    height: 5rem;
}

.main {
    grid-area: main;
    background-color: aqua;
}

.panel_derecho {
    grid-area: mapa;
    background-color: blue;
    align-items: center;
 }

.iframe_mapa
{
    grid-area: iframe;
    background-color: white;
}

.footer {
    grid-area: footer;
    background-color: black;
    height: 5rem;  
}

/* Grid para el contenido del form */
/* .formulario_Contacto {
    display: grid;
    gap: 10px;
    background-color: lightsalmon;
    padding: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'label_nombre input_nombre input_nombre'
    'label_mail input_email input_email'
    'label_tel input_tel input_tel'
    'label_mensaje input_mensaje input_mensaje'
    ;
}

.label_nombre 
{
    grid-area: label_nombre;
    background-color: lightskyblue;
}

.input_nombre
{
    grid-area: input_nombre;
    background-color: lightblue;
}

.label_mail
{
    grid-area: label_mail;
    background-color: bisque;
}

.input_email
{
    grid-area: input_email;
    background-color: bisque;
}
 */

/* Agregar los 3 tamaños segun Unidad 9 CSS */
@media (max-width: 768px) {
    .contenedor_gral {
    grid-template-rows: 1fr 1 2fr 1fr;
    grid-template-areas:
    'header header header header'
    'main  main  main  main'
    'mapa  mapa  mapa  mapa'
    'iframe iframe iframe iframe'
    'footer footer footer footer'
    ;
    }
}

@media (max-width: 480px) {
    .contenedor_gral {
        /* OJO, revisar el padding de los textos y campos */
    grid-template-rows: 1fr  1 2fr 1fr;
    grid-template-areas:
    'header header header header'
    'main  main  main  main'
    'mapa  mapa  mapa  mapa'
    'iframe iframe iframe iframe'
    'footer footer footer footer'
    ;
    }
}